body{
    background-color: 	#b9e2f5;
}
.container{
    margin-top: 12%;
}
p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5;
}
.row{
    max-width: 100%;
}
.image{
    min-width: 300px;
    max-height: 200px;
    border-radius: 50px;
    margin-bottom: 5%;
}
